@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .toggler_1,
    .toggler_2,
    .toggler_3 {
        @apply w-26px h-0 border-0.2 border-[#FFFEFE] my-2 bg-white text-center duration-1000 ease-in-out !important;
    }

    .animation1 {
        @apply rotate-45 translate-y-9px duration-1000 ease-in-out !important;
    }

    .hide {
        @apply opacity-0 !important;
    }

    .animation2 {
        @apply -rotate-45 -translate-y-9px duration-1000 ease-in-out !important;
    }

    .scrolled.slide-left {
        animation: slide-in-left 1.9s ease-in-out both;
        animation-delay: .2s;
    }

    .imgGrid span{
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 10;
    }

    @keyframes slide-in-left {
        from {
            position: absolute;
            left: 0;
            right: 100%;
        }

        40% {
            position: absolute;
            left: 0;
            right: 0;
        }

        60% {
            position: absolute;
            left: 0;
            right: 0;
        }

        to {
            position: absolute;
            left: 100%;
            right: 0;
        }
    }

    .con {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .content-grid {
        height: 100px;
        width: 45%;
        color: #fff;
        font-size: 24px;
        line-height: 100px;
        text-align: center;
        background-color: grey;
        margin: 5px;
        border: 1px solid lightgrey;
        display: none;
    }

    #loadMore {
        width: 200px;
        color: #fff;
        display: block;
        text-align: center;
        margin: 20px auto;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid transparent;
        background-color: blue;
        transition: .3s;
    }

    #loadMore:hover {
        color: blue;
        background-color: #fff;
        border: 1px solid blue;
        text-decoration: none;
    }

    .noContent {
        color: #000 !important;
        background-color: transparent !important;
        pointer-events: none;
    }
}

;

@layer components {

    .activities-slider .swiper-button-next::after,
    .activities-slider .swiper-button-prev::after,
    .swiper .swiper-button-next::after,
    .swiper .swiper-button-prev::after {
        content: '' !important;
    }

    .activities-slider .swiper-button-next,
    .activities-slider .swiper-button-prev {
        @apply relative !important;
    }

    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
        @apply absolute top-auto left-auto md:bottom-0 bottom-7 right-9.2% w-5 h-5 !important;
    }

    .pagination.swiper-pagination-fraction {
        @apply md:bottom-0 bottom-7 w-20 left-0 bg-[#EBECE2] !important;
    }

    .swiper-pagination .swiper-pagination-bullet {
        @apply bg-white
    }

    .inquiry-section-accordion.accordion .accordion-button:not(.collapsed) {
        @apply bg-[#F5F5F1] text-black !important;
    }

    .inquiry-section-accordion.accordion .accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E") !important;
    }

    .lity-container {
        @apply max-w-screen-xl !important;
    }

    .lity-active,
    body.lity-active {
        overflow: hidden;
    }
}

;